@model HotelComponent.CREDIT_CARD

@{
    ViewBag.Title = "CreditCardDetails";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<h2>CreditCardDetails</h2>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <h4>CREDIT CARD</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.CNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CNumber)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CType)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Baddress, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Baddress)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Code)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpDate)

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Make Payment" class="btn btn-default" />
            </div>
        </div>
    </div>
}


